<main class="container">
    <div>
        <h3>Hola 🧑‍💻</h3>
        <p class="home-p">Me enfoco en desarrollo web, principalmente en tecnolog&iacute;as Backend. <br />
            Algunos lenguajes de programaci&oacute;n que utilizo como herramientas son Nodejs y Python.</p>
    </div>

        <section>
            <div class="row">
                <h2 class="center">Proyectos</h2>
                {{#each posts}}
                <article class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ image }}" alt="post image">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator">{{ title }}<i
                                    class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">{{ title }}<i class="material-icons right">close</i> </span>
                            <p>{{ description }}</p>
                            <a class="waves-effect waves-teal btn-flat teal lighten-5 right" href="{{ link }}">Ver</a>
                        </div>
                    </div>
                </article>
                {{/each}}
                </div>
                </section>
                </main>